apps/pihole/etc-dnsmasq.d
apps/pihole/etc-pihole
apps/pihole/docker_run.sh
apps/nginx/ssl/*
!apps/nginx/ssl/.gitkeep
services/traefik/config/ssl/*[.crt, .key]
services/torrent/wireguard/wg0.conf
services/torrent/.vpn_ip
services/traefikv2/config/acme.json
services/traefikv2/.env_traefik