apps/pihole/etc-dnsmasq.d
apps/pihole/etc-pihole
apps/pihole/docker_run.sh
apps/nginx/ssl/*
!apps/nginx/ssl/.gitkeep
services/traefik/config/ssl/*.crt
services/traefik/config/ssl/*.key
services/torrent-stack/wireguard/*
services/torrent-stack/deluge/*