[Unit]
Description={{ description }}
Wants={{ wants_daemon }}
After={{ after_daemon }}
[Service]
ExecStart={{ exec_start_cmd }}
ExecStop={{ exec_kill_cmd }}
Type={{ service_type }}
[Install]
WantedBy=multi-user.target
