[Unit]
Description={{ description }}
Requires={{ require_daemon }}
After={{ after_daemon }}
[Service]
ExecStartPre={{ pre_start_cmd }}
ExecStart={{ exec_start_cmd }}
ExecStop={{ exec_kill_cmd }}
Type={{ service_type }}
[Install]
WantedBy=multi-user.target
