
server {
    listen 80;
    server_name atom;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name atom;
    #root /var/www/html;

    # Change below vars for container deployment
    set $grafana_host 127.0.0.1:3000;
    set $prometheus_host 127.0.0.1:9090;
    set $homer_host 127.0.0.1:8080;
    set $yacht_host 127.0.0.1:8000;

    ssl_certificate /etc/nginx/ssl/server.pem;
    ssl_certificate_key /etc/nginx/ssl/server.key;

    location / {
        proxy_pass http://$homer_host/;
        proxy_set_header Host $http_host;
    }

    location /grafana/ {
        rewrite ^/grafana/(.*) /$1 break;
        proxy_pass http://$grafana_host/;
        proxy_set_header Host $http_host;
    }

    location /grafana/api/live {
        rewrite ^/grafana/(.*) /$1 break;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $http_host;
        proxy_pass http://$grafana_host/;
    }

    location /prometheus/ {
        proxy_pass http://$prometheus_host/prometheus/;
        proxy_set_header Host $http_host;
    }

    location /pihole/ {
        proxy_pass http://$pihole/;
        proxy_set_header Host $http_host;
    }

    location /yacht/ {
        proxy_pass http://$yacht_host/;
        proxy_set_header Host $http_host;
    }

    location /nginx_status {
        stub_status;
        #allow 127.0.0.1;	    #only allow requests from localhost
        #deny all;              #deny all other hosts
    }
}
